version: "2.4"

services:
  freshrss:
    image: freshrss/freshrss:edge
    container_name: freshrss
    restart: unless-stopped
    networks:
      - traefik
    logging:
      options:
        max-size: 10m
    volumes:
      - {{ data_dir }}/data:/var/www/FreshRSS/data
      - {{ data_dir }}/extensions:/var/www/FreshRSS/extensions
    environment:
      TZ: Europe/Amsterdam
      CRON_MIN: '2,32'
      FRESHRSS_ENV: development
      ADMIN_EMAIL: pim@kunis.nl
      ADMIN_PASSWORD: {{ admin_password }}
      ADMIN_API_PASSWORD: {{ admin_password }}
      PUBLISHED_PORT: 443
    labels:
      - traefik.enable=true
      - traefik.http.routers.freshrss.entrypoints=websecure
      - traefik.http.routers.freshrss.rule=Host(`{{ rss_domain }}`)
      - traefik.http.routers.freshrss.tls=true
      - traefik.http.routers.freshrss.tls.certresolver=letsencrypt
      - traefik.http.routers.freshrss.service=freshrss
      - traefik.http.services.freshrss.loadbalancer.server.port=80

networks:
  traefik:
    external: true
