global:
  scrape_interval:     15s

scrape_configs:

  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'traefik'
    scrape_interval: 5s
    static_configs:
      - targets: ['host.docker.internal:{{ traefik_api_port }}']
