version: '3'

networks:
  traefik:
    external: true

services:
  reverse-proxy:
    restart: always
    image: traefik:v2.9
    container_name: traefik
    ports:
      - "443:443"
      - "80:80"
      - "{{ git_ssh_port }}:{{ git_ssh_port }}"
      - "{{ traefik_api_port }}:{{ traefik_api_port }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ service_dir }}/traefik.toml:/etc/traefik/traefik.toml
      - {{ service_dir }}/services.toml:/etc/traefik/services.toml
      - {{ service_dir }}/acme.json:/acme.json
    networks:
      - traefik
    labels:
      - traefik.enable=true

      - traefik.http.routers.esrom.entrypoints=websecure
      - traefik.http.routers.esrom.service=esrom@file
      - traefik.http.routers.esrom.rule=Host(`geokunis2.nl`)
      - traefik.http.routers.esrom.tls=true
      - traefik.http.routers.esrom.tls.certresolver=letsencrypt

      - traefik.http.routers.traefik.rule=Host(`max.dmz`)
      - traefik.http.routers.traefik.entrypoints=internal
      - traefik.http.routers.traefik.service=api@internal
