loglevel = "DEBUG"

[entryPoints]
  [entryPoints.web]
  address = ":80"
  [entryPoints.web.http.redirections.entryPoint]
    to = "websecure"
    scheme = "https"
    permanent = true
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.ssh]
    address = ":{{ git_ssh_port }}"
  [entryPoints.video]
    address = ":{{ jitsi_videobridge_port }}/udp"
  [entryPoints.internal]
    address = ":{{ traefik_api_port }}"

[api]
  insecure = false
  dashboard = true

[metrics]
  [metrics.prometheus]
    entryPoint = "internal"

[providers.docker]
  endpoint = "unix:///var/run/docker.sock"
  exposedByDefault = false

[providers.file]
  filename = "/etc/traefik/services.toml"

[certificatesResolvers.letsencrypt.acme]
  email = "pim@kunis.nl"
  storage = "acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "web"
