version: "3.8"

services:
  blog:
    image: nginx
    container_name: blog
    restart: always
    volumes:
      - {{ service_dir }}/git/templates:/etc/nginx/templates
      - {{ service_dir }}/git/_site:/var/www/blog
      - {{ service_dir }}/nginx.conf:/etc/nginx/conf.d/default.conf
      - {{ service_dir }}/security.txt:/var/www/blog/security.txt
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.blog.entrypoints=websecure
      - "traefik.http.routers.blog.rule=(Host(`{{ domain_name_pim }}`) || Path(`/security.txt`, `/.well-known/security.txt`))"
      - traefik.http.routers.blog.tls=true
      - traefik.http.routers.blog.tls.certresolver=letsencrypt
      - traefik.http.routers.blog.service=blog
      - traefik.http.services.blog.loadbalancer.server.port=80

networks:
  traefik:
    external: true
