server {
	listen 80 default_server;

	location /security.txt {
		return 301 https://{{ domain_name_pim }}/.well-known/security.txt;
	}

	location /.well-known/security.txt {
		return 301 https://{{ domain_name_pim }}/.well-known/security.txt;
	}
}

server {
	listen 80;
	server_name {{ domain_name_pim }};
	index index.html index.htm;
	root /var/www/blog;

	location /security.txt {
		return 301 https://$host/.well-known/security.txt;
	}

	location /.well-known/security.txt {
		add_header Content-Type 'text/plain';
		add_header Cache-Control 'no-cache, no-store, must-revalidate';
		add_header Pragma 'no-cache';
		add_header Expires '0';
		add_header Vary '*';
		return 200 "Contact: mailto:pim@kunis.nl\nExpires: 1970-01-01T00:00:00.000Z\nPreferred-Languages: en,nl\n";
	}

	location / {
	    try_files $uri $uri/ /index.html;
	}

	location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
	    expires 30d;
	    add_header Pragma public;
	    add_header Cache-Control "public";
	}

	error_page 404 /404.html;
}
