version: '3'
services:
  db:
    restart: always
    image: postgres:14-alpine
    container_name: mastodon-db
    shm_size: 256mb
    networks:
      - default
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres']
    volumes:
      - {{ data_dir }}/postgres14:/var/lib/postgresql/data
    environment:
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
      - 'POSTGRES_PASSWORD={{ mastodon_postgres_password }}'
      - 'POSTGRES_DB=mastodon_production'
      - 'POSTGRES_USER=mastodon'

  redis:
    restart: always
    image: redis:7-alpine
    container_name: mastodon-redis
    networks:
      - default
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    volumes:
      - {{ data_dir }}/redis:/data
    environment:
      - 'REDIS_PASSWORD={{ mastodon_redis_password }}'

  web:
    image: tootsuite/mastodon:v3.5.3
    container_name: mastodon-web
    restart: always
    env_file: .env.production
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000"
    networks:
      - default
      - traefik
    healthcheck:
      # prettier-ignore
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:3000/health || exit 1']
    depends_on:
      - db
      - redis
    volumes:
      - {{ data_dir }}/public/system:/mastodon/public/system
      - {{ service_dir }}/cache:/mastodon/public/system/cache
    labels:
      - traefik.enable=true
      - traefik.http.routers.mastodon.entrypoints=websecure
      - traefik.http.routers.mastodon.rule=Host(`social.pizzapim.nl`)
      - traefik.http.routers.mastodon.tls=true
      - traefik.http.routers.mastodon.tls.certresolver=letsencrypt
      - traefik.http.services.mastodon.loadbalancer.server.port=3000
      - traefik.http.routers.mastodon.service=mastodon
      - traefik.docker.network=traefik

  streaming:
    image: tootsuite/mastodon:v3.5.3
    container_name: mastodon-streaming
    restart: always
    env_file: .env.production
    command: node ./streaming
    networks:
      - default
      - traefik
    healthcheck:
      # prettier-ignore
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:4000/api/v1/streaming/health || exit 1']
    depends_on:
      - db
      - redis
    labels:
      - traefik.enable=true
      - traefik.http.routers.mastodon-streaming.entrypoints=websecure
      - "traefik.http.routers.mastodon-streaming.rule=(Host(`social.pizzapim.nl`) && PathPrefix(`/api/v1/streaming`))"
      - traefik.http.routers.mastodon-streaming.service=mastodon-streaming
      - traefik.http.services.mastodon-streaming.loadbalancer.server.port=4000
      - traefik.docker.network=traefik

  sidekiq:
    image: tootsuite/mastodon:v3.5.3
    container_name: mastodon-sidekiq
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq
    depends_on:
      - db
      - redis
    networks:
      - default
    volumes:
      - {{ data_dir }}/public/system:/mastodon/public/system
      - {{ service_dir }}/cache:/mastodon/public/system/cache
    healthcheck:
      test: ['CMD-SHELL', "ps aux | grep '[s]idekiq\ 6' || false"]

networks:
  traefik:
    external: true
